In [ ]:
# Google Colaboratoryを使用する場合は、下記のコメントアウトを外し、実行してください

In [ ]:
# # 下記セルを実行すると、authorization codeの入力を求められます。
# # 出力されたリンク先をクリックし、Googleアカウントにログインし、
# # authorization codeをコピーし、貼り付けをおこなってください。
# import os
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
# working_dir = 'MLSys_100Knocks' #　※※自分で作成したフォルダパスが異なる場合こちらを変更してください。※※
# path = f'/content/drive/MyDrive/{working_dir}/本章/1章'
# os.chdir(path)

In [1]:
##セル内複数項目表示
from IPython import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# １章 分析に向けた準備を行う１０本ノック

ここでは、あるピザチェーンの売上の推移を分析していきます。  
データの中身を理解し、分析しやすい形に加工していくプロセスを学びます。

### ノック１：データを全て読み込んでみよう

In [2]:
import pandas as pd
m_store = pd.read_csv('m_store.csv')
m_store

     store_id store_name area_cd
0           1        昭島店      TK
1           2      あきる野店      TK
2           3        足立店      TK
3           4       北千住店      TK
4           5        綾瀬店      TK
..        ...        ...     ...
192       193        桐生店      GU
193       194        高崎店      GU
194       195        館林店      GU
195       196        前橋店      GU
196       999       保守担当      TK

[197 rows x 3 columns]

In [3]:
len(m_store)

197

In [4]:
m_store.head()

   store_id store_name area_cd
0         1        昭島店      TK
1         2      あきる野店      TK
2         3        足立店      TK
3         4       北千住店      TK
4         5        綾瀬店      TK

In [5]:
m_area = pd.read_csv('m_area.csv')
m_area

  area_cd wide_area narrow_area
0      TK        東京          東京
1      KN       神奈川         神奈川
2      CH        千葉          千葉
3      SA        埼玉          埼玉
4      IB       北関東          茨城
5      TO       北関東          栃木
6      GU       北関東          群馬

In [6]:
tbl_order_4 = pd.read_csv('tbl_order_202004.csv')
tbl_order_4

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,79339111,49,C26387220,50,67393872,2020-04-01 11:00:00,2020-04-01 11:18:00,1,4144,1
1,18941733,85,C48773811,26,91834983,2020-04-01 11:00:00,2020-04-01 11:22:00,0,2877,2
2,56217880,76,C66287421,36,64409634,2020-04-01 11:00:00,2020-04-01 11:15:00,0,2603,2
3,28447783,190,C41156423,19,73032165,2020-04-01 11:00:00,2020-04-01 11:16:00,0,2732,2
4,32576156,191,C54568117,71,23281182,2020-04-01 11:00:00,2020-04-01 11:53:00,0,2987,2
...,...,...,...,...,...,...,...,...,...,...
233255,25546308,3,C24617924,46,3700904,2020-04-30 21:58:58,2020-04-30 22:19:58,0,2615,2
233256,91693481,45,C68997855,6,37852755,2020-04-30 21:58:58,2020-04-30 22:13:58,0,2732,2
233257,57908119,36,C16123702,81,90372382,2020-04-30 21:58:58,2020-04-30 22:47:58,0,2363,2
233258,7145625,174,C80733640,75,48265986,2020-04-30 21:58:58,2020-04-30 22:32:58,0,2238,2
233259,31301192,151,C23758178,9,13847510,2020-04-30 21:58:58,2020-04-30 22:52:58,0,1900,2

### ノック２：データを結合（ユニオン）してみよう

In [7]:
tbl_order_5 = pd.read_csv('tbl_order_202005.csv')
tbl_order_5

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,24742472,22,C90731046,22,80308413,2020-05-01 11:00:00,2020-05-01 11:22:00,1,2328,1
1,11342919,56,C68678177,12,35725624,2020-05-01 11:00:00,2020-05-01 11:50:00,0,2987,2
2,76451864,56,C79630016,46,2609869,2020-05-01 11:00:00,2020-05-01 11:32:00,0,2603,2
3,28392539,192,C83895707,80,17111162,2020-05-01 11:00:00,2020-05-01 11:19:00,0,2603,2
4,71706591,121,C36584528,93,22800835,2020-05-01 11:00:00,2020-05-01 11:17:00,0,2877,2
...,...,...,...,...,...,...,...,...,...,...
241134,47039360,154,C39765066,90,27121351,2020-05-31 21:58:58,2020-05-31 22:42:58,1,2363,1
241135,61054188,94,C19465010,41,61513298,2020-05-31 21:58:58,2020-05-31 22:40:58,0,2112,2
241136,45288914,11,C23883838,40,65359139,2020-05-31 21:58:58,2020-05-31 22:38:58,0,3838,2
241137,41608372,149,C48350551,43,42138977,2020-05-31 21:58:58,2020-05-31 22:52:58,0,1899,2
241138,40316733,169,C49087342,61,59737067,2020-05-31 21:58:58,2020-05-31 22:08:58,0,3901,2

In [8]:
order_all = pd.concat([tbl_order_4, tbl_order_5], ignore_index=True)
order_all

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,79339111,49,C26387220,50,67393872,2020-04-01 11:00:00,2020-04-01 11:18:00,1,4144,1
1,18941733,85,C48773811,26,91834983,2020-04-01 11:00:00,2020-04-01 11:22:00,0,2877,2
2,56217880,76,C66287421,36,64409634,2020-04-01 11:00:00,2020-04-01 11:15:00,0,2603,2
3,28447783,190,C41156423,19,73032165,2020-04-01 11:00:00,2020-04-01 11:16:00,0,2732,2
4,32576156,191,C54568117,71,23281182,2020-04-01 11:00:00,2020-04-01 11:53:00,0,2987,2
...,...,...,...,...,...,...,...,...,...,...
474394,47039360,154,C39765066,90,27121351,2020-05-31 21:58:58,2020-05-31 22:42:58,1,2363,1
474395,61054188,94,C19465010,41,61513298,2020-05-31 21:58:58,2020-05-31 22:40:58,0,2112,2
474396,45288914,11,C23883838,40,65359139,2020-05-31 21:58:58,2020-05-31 22:38:58,0,3838,2
474397,41608372,149,C48350551,43,42138977,2020-05-31 21:58:58,2020-05-31 22:52:58,0,1899,2
474398,40316733,169,C49087342,61,59737067,2020-05-31 21:58:58,2020-05-31 22:08:58,0,3901,2

In [9]:
len(order_all) == len(tbl_order_4) + len(tbl_order_5)

True

### ノック３：フォルダ内のファイル名を一覧化してみよう

In [10]:
import os
current_dir = os.getcwd()
current_dir

'D:\\driver\\MLSys_100Knocks\\本章\\1章'

In [11]:
# 全てのファイルを一覧表示する
os.listdir(current_dir)
os.listdir()

['.ipynb_checkpoints',
 '1章_分析に向けた準備を行う10本ノック.ipynb',
 '1章_分析に向けた準備を行う10本ノック_answer.ipynb',
 'm_area.csv',
 'm_store.csv',
 'tbl_order_202004.csv',
 'tbl_order_202005.csv',
 'tbl_order_202006.csv']

['.ipynb_checkpoints',
 '1章_分析に向けた準備を行う10本ノック.ipynb',
 '1章_分析に向けた準備を行う10本ノック_answer.ipynb',
 'm_area.csv',
 'm_store.csv',
 'tbl_order_202004.csv',
 'tbl_order_202005.csv',
 'tbl_order_202006.csv']

In [15]:
listdir = os.listdir(r'D:\NW_CHK')
listdir[0]

'NW_CHK（共通_Nドライブ・資格情報付）.bat'

In [16]:
tbl_order_file = os.path.join(current_dir, 'tbl_order_*.csv')
tbl_order_file

'D:\\driver\\MLSys_100Knocks\\本章\\1章\\tbl_order_*.csv'

In [18]:
# 特定のファイルを一覧表示する
import glob
tbl_order_files = glob.glob(tbl_order_file)
tbl_order_files

['D:\\driver\\MLSys_100Knocks\\本章\\1章\\tbl_order_202004.csv',
 'D:\\driver\\MLSys_100Knocks\\本章\\1章\\tbl_order_202005.csv',
 'D:\\driver\\MLSys_100Knocks\\本章\\1章\\tbl_order_202006.csv']

In [19]:
aaa = glob.glob(current_dir)
type(aaa)
aaa

list

['D:\\driver\\MLSys_100Knocks\\本章\\1章']

### ノック４：複数データを結合（ユニオン）してみよう

In [22]:
tbl_order_files
order_all

['D:\\driver\\MLSys_100Knocks\\本章\\1章\\tbl_order_202004.csv',
 'D:\\driver\\MLSys_100Knocks\\本章\\1章\\tbl_order_202005.csv',
 'D:\\driver\\MLSys_100Knocks\\本章\\1章\\tbl_order_202006.csv']

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,79339111,49,C26387220,50,67393872,2020-04-01 11:00:00,2020-04-01 11:18:00,1,4144,1
1,18941733,85,C48773811,26,91834983,2020-04-01 11:00:00,2020-04-01 11:22:00,0,2877,2
2,56217880,76,C66287421,36,64409634,2020-04-01 11:00:00,2020-04-01 11:15:00,0,2603,2
3,28447783,190,C41156423,19,73032165,2020-04-01 11:00:00,2020-04-01 11:16:00,0,2732,2
4,32576156,191,C54568117,71,23281182,2020-04-01 11:00:00,2020-04-01 11:53:00,0,2987,2
...,...,...,...,...,...,...,...,...,...,...
474394,47039360,154,C39765066,90,27121351,2020-05-31 21:58:58,2020-05-31 22:42:58,1,2363,1
474395,61054188,94,C19465010,41,61513298,2020-05-31 21:58:58,2020-05-31 22:40:58,0,2112,2
474396,45288914,11,C23883838,40,65359139,2020-05-31 21:58:58,2020-05-31 22:38:58,0,3838,2
474397,41608372,149,C48350551,43,42138977,2020-05-31 21:58:58,2020-05-31 22:52:58,0,1899,2
474398,40316733,169,C49087342,61,59737067,2020-05-31 21:58:58,2020-05-31 22:08:58,0,3901,2

In [23]:
# 繰り返しの前に1個だけ処理して確認したい場合
order_all = pd.DataFrame()
file = tbl_order_files[0]
order_data = pd.read_csv(file)
print(f'{file}:{len(order_data)}')
print('%s:%d'%(file,len(order_data)))
order_all = pd.concat([order_all, order_data], ignore_index=True)
order_all

D:\driver\MLSys_100Knocks\本章\1章\tbl_order_202004.csv:233260
D:\driver\MLSys_100Knocks\本章\1章\tbl_order_202004.csv:233260

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,79339111,49,C26387220,50,67393872,2020-04-01 11:00:00,2020-04-01 11:18:00,1,4144,1
1,18941733,85,C48773811,26,91834983,2020-04-01 11:00:00,2020-04-01 11:22:00,0,2877,2
2,56217880,76,C66287421,36,64409634,2020-04-01 11:00:00,2020-04-01 11:15:00,0,2603,2
3,28447783,190,C41156423,19,73032165,2020-04-01 11:00:00,2020-04-01 11:16:00,0,2732,2
4,32576156,191,C54568117,71,23281182,2020-04-01 11:00:00,2020-04-01 11:53:00,0,2987,2
...,...,...,...,...,...,...,...,...,...,...
233255,25546308,3,C24617924,46,3700904,2020-04-30 21:58:58,2020-04-30 22:19:58,0,2615,2
233256,91693481,45,C68997855,6,37852755,2020-04-30 21:58:58,2020-04-30 22:13:58,0,2732,2
233257,57908119,36,C16123702,81,90372382,2020-04-30 21:58:58,2020-04-30 22:47:58,0,2363,2
233258,7145625,174,C80733640,75,48265986,2020-04-30 21:58:58,2020-04-30 22:32:58,0,2238,2
233259,31301192,151,C23758178,9,13847510,2020-04-30 21:58:58,2020-04-30 22:52:58,0,1900,2

In [24]:
# 処理を繰り返す場合
order_all = pd.DataFrame()
for file in tbl_order_files:
    order_data = pd.read_csv(file)
    print(f'{file}:{len(order_data)}')
    order_all = pd.concat([order_all, order_data], ignore_index=True)

D:\driver\MLSys_100Knocks\本章\1章\tbl_order_202004.csv:233260
D:\driver\MLSys_100Knocks\本章\1章\tbl_order_202005.csv:241139
D:\driver\MLSys_100Knocks\本章\1章\tbl_order_202006.csv:233301

In [25]:
tbl_order_files

['D:\\driver\\MLSys_100Knocks\\本章\\1章\\tbl_order_202004.csv',
 'D:\\driver\\MLSys_100Knocks\\本章\\1章\\tbl_order_202005.csv',
 'D:\\driver\\MLSys_100Knocks\\本章\\1章\\tbl_order_202006.csv']

In [26]:
l = ord('母')
type(l)
l

int

27597

In [27]:
l1 = chr(l)
type(l1)
l1

str

'母'

In [28]:
aaa = '中国'.encode()

In [29]:
bbb = aaa.decode()
bbb

'中国'

In [30]:
order_all

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,79339111,49,C26387220,50,67393872,2020-04-01 11:00:00,2020-04-01 11:18:00,1,4144,1
1,18941733,85,C48773811,26,91834983,2020-04-01 11:00:00,2020-04-01 11:22:00,0,2877,2
2,56217880,76,C66287421,36,64409634,2020-04-01 11:00:00,2020-04-01 11:15:00,0,2603,2
3,28447783,190,C41156423,19,73032165,2020-04-01 11:00:00,2020-04-01 11:16:00,0,2732,2
4,32576156,191,C54568117,71,23281182,2020-04-01 11:00:00,2020-04-01 11:53:00,0,2987,2
...,...,...,...,...,...,...,...,...,...,...
707695,90872494,191,C35992970,46,51884378,2020-06-30 21:58:58,2020-06-30 22:43:58,1,2112,1
707696,30167637,35,C53126526,88,6295273,2020-06-30 21:58:58,2020-06-30 22:36:58,0,4462,2
707697,85345862,118,C25099070,32,15733308,2020-06-30 21:58:58,2020-06-30 22:42:58,0,3865,2
707698,73038887,100,C27421314,84,67608099,2020-06-30 21:58:58,2020-06-30 22:21:58,0,3319,2
707699,14799648,39,C90614204,5,13300147,2020-06-30 21:58:58,2020-06-30 22:38:58,0,2064,2

### ノック５：データの統計量を確認しよう

In [31]:
order_all.isnull().sum()

order_id             0
store_id             0
customer_id          0
coupon_cd            0
sales_detail_id      0
order_accept_date    0
delivered_date       0
takeout_flag         0
total_amount         0
status               0
dtype: int64

In [32]:
order_all.describe()

,order_id,store_id,coupon_cd,sales_detail_id,takeout_flag,total_amount,status
count,7.077000e+05,707700.000000,707700.000000,7.077000e+05,707700.000000,707700.000000,707700.000000
mean,5.000989e+07,103.934565,49.514363,5.000335e+07,0.259864,2960.651814,3.082908
std,2.889226e+07,86.374451,28.882605,2.885575e+07,0.438560,954.378771,2.836278
min,2.200000e+01,1.000000,0.000000,4.600000e+01,0.000000,698.000000,1.000000
25%,2.501247e+07,51.000000,25.000000,2.504502e+07,0.000000,2308.000000,2.000000
50%,4.999655e+07,99.000000,49.000000,5.004506e+07,0.000000,2808.000000,2.000000
75%,7.508014e+07,148.000000,75.000000,7.499707e+07,1.000000,3617.000000,2.000000
max,9.999980e+07,999.000000,99.000000,9.999965e+07,1.000000,5100.000000,9.000000

In [33]:
order_all['total_amount'].describe()

count    707700.000000
mean       2960.651814
std         954.378771
min         698.000000
25%        2308.000000
50%        2808.000000
75%        3617.000000
max        5100.000000
Name: total_amount, dtype: float64

In [34]:
print(order_all["order_accept_date"].min())
print(order_all["order_accept_date"].max())
print(order_all["delivered_date"].min())
print(order_all["delivered_date"].max())

2020-04-01 11:00:00
2020-06-30 21:58:58
2020-04-01 11:10:00
2020-06-30 22:55:56

In [35]:
de = order_all.loc[order_all['store_id'] == 999]

In [36]:
aaa = de[(de["customer_id"] == "C88265812" ) & (de.index == 440)]

In [37]:
aaa

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
440,98355005,999,C88265812,35,3157137,2020-04-01 11:36:36,2020-04-01 12:28:36,0,2252,9

In [38]:
aaa["customer_id"] = "test111"

<ipython-input-38-79084bb4bd12>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aaa["customer_id"] = "test111"

In [39]:
aaa

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
440,98355005,999,test111,35,3157137,2020-04-01 11:36:36,2020-04-01 12:28:36,0,2252,9

In [42]:
de
#①loc指定、値更新可能
de.loc[(de["customer_id"] == "C88265812") & (de.index == 440),"customer_id"] = "test5666"

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
337,66311104,999,C93840230,81,18122310,2020-04-01 11:28:28,2020-04-01 12:05:28,0,3530,2
440,98355005,999,C88265812,35,3157137,2020-04-01 11:36:36,2020-04-01 12:28:36,0,2252,9
674,80962450,999,C91505250,17,79248461,2020-04-01 11:57:57,2020-04-01 12:31:57,1,2388,9
712,46566531,999,C50073768,86,93783042,2020-04-01 12:00:00,2020-04-01 12:48:00,0,2647,2
788,94691640,999,C73928250,9,45435017,2020-04-01 12:06:06,2020-04-01 13:02:06,1,4692,1
...,...,...,...,...,...,...,...,...,...,...
706697,23397277,999,C60637325,6,31170061,2020-06-30 20:35:35,2020-06-30 21:28:35,1,2328,9
707048,14002457,999,C64722783,3,995858,2020-06-30 21:05:05,2020-06-30 21:38:05,0,4624,2
707057,4926762,999,C99428523,21,61831368,2020-06-30 21:05:05,2020-06-30 22:04:05,1,5100,1
707244,43581175,999,C14619909,99,14243327,2020-06-30 21:20:20,2020-06-30 21:33:20,1,3742,1
707494,64266509,999,C60637325,73,42760349,2020-06-30 21:39:39,2020-06-30 22:31:39,0,4144,2

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [43]:
de

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
337,66311104,999,C93840230,81,18122310,2020-04-01 11:28:28,2020-04-01 12:05:28,0,3530,2
440,98355005,999,test5666,35,3157137,2020-04-01 11:36:36,2020-04-01 12:28:36,0,2252,9
674,80962450,999,C91505250,17,79248461,2020-04-01 11:57:57,2020-04-01 12:31:57,1,2388,9
712,46566531,999,C50073768,86,93783042,2020-04-01 12:00:00,2020-04-01 12:48:00,0,2647,2
788,94691640,999,C73928250,9,45435017,2020-04-01 12:06:06,2020-04-01 13:02:06,1,4692,1
...,...,...,...,...,...,...,...,...,...,...
706697,23397277,999,C60637325,6,31170061,2020-06-30 20:35:35,2020-06-30 21:28:35,1,2328,9
707048,14002457,999,C64722783,3,995858,2020-06-30 21:05:05,2020-06-30 21:38:05,0,4624,2
707057,4926762,999,C99428523,21,61831368,2020-06-30 21:05:05,2020-06-30 22:04:05,1,5100,1
707244,43581175,999,C14619909,99,14243327,2020-06-30 21:20:20,2020-06-30 21:33:20,1,3742,1
707494,64266509,999,C60637325,73,42760349,2020-06-30 21:39:39,2020-06-30 22:31:39,0,4144,2

In [44]:
bbb = de["customer_id"]
bbb

337       C93840230
440        test5666
674       C91505250
712       C50073768
788       C73928250
            ...
706697    C60637325
707048    C64722783
707057    C99428523
707244    C14619909
707494    C60637325
Name: customer_id, Length: 3820, dtype: object

In [45]:
#②serise指定、値更新可能
de["customer_id"][674] ="dsfsdf"

<ipython-input-45-bc1b43fb1280>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["customer_id"][674] ="dsfsdf"
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3437: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [52]:
de.iloc[:4]

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
337,66311104,999,C93840230,81,18122310,2020-04-01 11:28:28,2020-04-01 12:05:28,0,3530,2
440,98355005,999,test5666,35,3157137,2020-04-01 11:36:36,2020-04-01 12:28:36,0,2252,9
674,80962450,999,dsfsdf,17,79248461,2020-04-01 11:57:57,2020-04-01 12:31:57,1,2388,9
712,46566531,999,C50073768,86,93783042,2020-04-01 12:00:00,2020-04-01 12:48:00,0,2647,2

### ノック６：不要なデータを除外しよう

In [63]:
order_data = order_all.loc[order_all['store_id'] != 999]
order_data

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,79339111,49,C26387220,50,67393872,2020-04-01 11:00:00,2020-04-01 11:18:00,1,4144,1
1,18941733,85,C48773811,26,91834983,2020-04-01 11:00:00,2020-04-01 11:22:00,0,2877,2
2,56217880,76,C66287421,36,64409634,2020-04-01 11:00:00,2020-04-01 11:15:00,0,2603,2
3,28447783,190,C41156423,19,73032165,2020-04-01 11:00:00,2020-04-01 11:16:00,0,2732,2
4,32576156,191,C54568117,71,23281182,2020-04-01 11:00:00,2020-04-01 11:53:00,0,2987,2
...,...,...,...,...,...,...,...,...,...,...
707695,90872494,191,C35992970,46,51884378,2020-06-30 21:58:58,2020-06-30 22:43:58,1,2112,1
707696,30167637,35,C53126526,88,6295273,2020-06-30 21:58:58,2020-06-30 22:36:58,0,4462,2
707697,85345862,118,C25099070,32,15733308,2020-06-30 21:58:58,2020-06-30 22:42:58,0,3865,2
707698,73038887,100,C27421314,84,67608099,2020-06-30 21:58:58,2020-06-30 22:21:58,0,3319,2
707699,14799648,39,C90614204,5,13300147,2020-06-30 21:58:58,2020-06-30 22:38:58,0,2064,2

### ノック７：マスタデータを結合（ジョイン）してみよう

In [64]:
order_data = pd.merge(order_data, m_store, on='store_id', how='left')
order_data

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd
0,79339111,49,C26387220,50,67393872,2020-04-01 11:00:00,2020-04-01 11:18:00,1,4144,1,浅草店,TK
1,18941733,85,C48773811,26,91834983,2020-04-01 11:00:00,2020-04-01 11:22:00,0,2877,2,目黒店,TK
2,56217880,76,C66287421,36,64409634,2020-04-01 11:00:00,2020-04-01 11:15:00,0,2603,2,本郷店,TK
3,28447783,190,C41156423,19,73032165,2020-04-01 11:00:00,2020-04-01 11:16:00,0,2732,2,栃木店,TO
4,32576156,191,C54568117,71,23281182,2020-04-01 11:00:00,2020-04-01 11:53:00,0,2987,2,伊勢崎店,GU
...,...,...,...,...,...,...,...,...,...,...,...,...
703875,90872494,191,C35992970,46,51884378,2020-06-30 21:58:58,2020-06-30 22:43:58,1,2112,1,伊勢崎店,GU
703876,30167637,35,C53126526,88,6295273,2020-06-30 21:58:58,2020-06-30 22:36:58,0,4462,2,代々木店,TK
703877,85345862,118,C25099070,32,15733308,2020-06-30 21:58:58,2020-06-30 22:42:58,0,3865,2,磯子店,KN
703878,73038887,100,C27421314,84,67608099,2020-06-30 21:58:58,2020-06-30 22:21:58,0,3319,2,中原店,KN
703879,14799648,39,C90614204,5,13300147,2020-06-30 21:58:58,2020-06-30 22:38:58,0,2064,2,杉並店,TK

In [65]:
order_data = pd.merge(order_data, m_area, on='area_cd', how='left')
order_data

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area
0,79339111,49,C26387220,50,67393872,2020-04-01 11:00:00,2020-04-01 11:18:00,1,4144,1,浅草店,TK,東京,東京
1,18941733,85,C48773811,26,91834983,2020-04-01 11:00:00,2020-04-01 11:22:00,0,2877,2,目黒店,TK,東京,東京
2,56217880,76,C66287421,36,64409634,2020-04-01 11:00:00,2020-04-01 11:15:00,0,2603,2,本郷店,TK,東京,東京
3,28447783,190,C41156423,19,73032165,2020-04-01 11:00:00,2020-04-01 11:16:00,0,2732,2,栃木店,TO,北関東,栃木
4,32576156,191,C54568117,71,23281182,2020-04-01 11:00:00,2020-04-01 11:53:00,0,2987,2,伊勢崎店,GU,北関東,群馬
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703875,90872494,191,C35992970,46,51884378,2020-06-30 21:58:58,2020-06-30 22:43:58,1,2112,1,伊勢崎店,GU,北関東,群馬
703876,30167637,35,C53126526,88,6295273,2020-06-30 21:58:58,2020-06-30 22:36:58,0,4462,2,代々木店,TK,東京,東京
703877,85345862,118,C25099070,32,15733308,2020-06-30 21:58:58,2020-06-30 22:42:58,0,3865,2,磯子店,KN,神奈川,神奈川
703878,73038887,100,C27421314,84,67608099,2020-06-30 21:58:58,2020-06-30 22:21:58,0,3319,2,中原店,KN,神奈川,神奈川
703879,14799648,39,C90614204,5,13300147,2020-06-30 21:58:58,2020-06-30 22:38:58,0,2064,2,杉並店,TK,東京,東京

### ノック８：マスタが存在しないコードに名称を設定しよう

In [67]:
order_data.loc[order_data['takeout_flag'] == 0, 'takeout_name'] = 'デリバリー'
order_data.loc[order_data['takeout_flag'] == 1, 'takeout_name'] = 'お持ち帰り'
order_data

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area,takeout_name
0,79339111,49,C26387220,50,67393872,2020-04-01 11:00:00,2020-04-01 11:18:00,1,4144,1,浅草店,TK,東京,東京,お持ち帰り
1,18941733,85,C48773811,26,91834983,2020-04-01 11:00:00,2020-04-01 11:22:00,0,2877,2,目黒店,TK,東京,東京,デリバリー
2,56217880,76,C66287421,36,64409634,2020-04-01 11:00:00,2020-04-01 11:15:00,0,2603,2,本郷店,TK,東京,東京,デリバリー
3,28447783,190,C41156423,19,73032165,2020-04-01 11:00:00,2020-04-01 11:16:00,0,2732,2,栃木店,TO,北関東,栃木,デリバリー
4,32576156,191,C54568117,71,23281182,2020-04-01 11:00:00,2020-04-01 11:53:00,0,2987,2,伊勢崎店,GU,北関東,群馬,デリバリー
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703875,90872494,191,C35992970,46,51884378,2020-06-30 21:58:58,2020-06-30 22:43:58,1,2112,1,伊勢崎店,GU,北関東,群馬,お持ち帰り
703876,30167637,35,C53126526,88,6295273,2020-06-30 21:58:58,2020-06-30 22:36:58,0,4462,2,代々木店,TK,東京,東京,デリバリー
703877,85345862,118,C25099070,32,15733308,2020-06-30 21:58:58,2020-06-30 22:42:58,0,3865,2,磯子店,KN,神奈川,神奈川,デリバリー
703878,73038887,100,C27421314,84,67608099,2020-06-30 21:58:58,2020-06-30 22:21:58,0,3319,2,中原店,KN,神奈川,神奈川,デリバリー
703879,14799648,39,C90614204,5,13300147,2020-06-30 21:58:58,2020-06-30 22:38:58,0,2064,2,杉並店,TK,東京,東京,デリバリー

In [72]:
def getStaName(status):
    if status == 0:
        return '受付'
    elif status == 1:
        return 'お支払済'
    elif status == 2:
        return 'お渡し済'
    elif status == 9:
        return 'キャンセル'
    else:
        return ''
order_data['status_name']= order_data['status'].apply(getStaName, axis=1)
order_data.isnull().sum()
order_data['status'].unique()

order_id             0
store_id             0
customer_id          0
coupon_cd            0
sales_detail_id      0
order_accept_date    0
delivered_date       0
takeout_flag         0
total_amount         0
status               0
store_name           0
area_cd              0
wide_area            0
narrow_area          0
takeout_name         0
status_name          0
dtype: int64

array([1, 2, 9], dtype=int64)

In [73]:
order_data.loc[order_data['status'] == 0, 'status_name'] = '受付'
order_data.loc[order_data['status'] == 1, 'status_name'] = 'お支払済'
order_data.loc[order_data['status'] == 2, 'status_name'] = 'お渡し済'
order_data.loc[order_data['status'] == 9, 'status_name'] = 'キャンセル'
order_data

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area,takeout_name,status_name
0,79339111,49,C26387220,50,67393872,2020-04-01 11:00:00,2020-04-01 11:18:00,1,4144,1,浅草店,TK,東京,東京,お持ち帰り,お支払済
1,18941733,85,C48773811,26,91834983,2020-04-01 11:00:00,2020-04-01 11:22:00,0,2877,2,目黒店,TK,東京,東京,デリバリー,お渡し済
2,56217880,76,C66287421,36,64409634,2020-04-01 11:00:00,2020-04-01 11:15:00,0,2603,2,本郷店,TK,東京,東京,デリバリー,お渡し済
3,28447783,190,C41156423,19,73032165,2020-04-01 11:00:00,2020-04-01 11:16:00,0,2732,2,栃木店,TO,北関東,栃木,デリバリー,お渡し済
4,32576156,191,C54568117,71,23281182,2020-04-01 11:00:00,2020-04-01 11:53:00,0,2987,2,伊勢崎店,GU,北関東,群馬,デリバリー,お渡し済
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703875,90872494,191,C35992970,46,51884378,2020-06-30 21:58:58,2020-06-30 22:43:58,1,2112,1,伊勢崎店,GU,北関東,群馬,お持ち帰り,お支払済
703876,30167637,35,C53126526,88,6295273,2020-06-30 21:58:58,2020-06-30 22:36:58,0,4462,2,代々木店,TK,東京,東京,デリバリー,お渡し済
703877,85345862,118,C25099070,32,15733308,2020-06-30 21:58:58,2020-06-30 22:42:58,0,3865,2,磯子店,KN,神奈川,神奈川,デリバリー,お渡し済
703878,73038887,100,C27421314,84,67608099,2020-06-30 21:58:58,2020-06-30 22:21:58,0,3319,2,中原店,KN,神奈川,神奈川,デリバリー,お渡し済
703879,14799648,39,C90614204,5,13300147,2020-06-30 21:58:58,2020-06-30 22:38:58,0,2064,2,杉並店,TK,東京,東京,デリバリー,お渡し済

### ノック９：分析基礎テーブルを出力してみよう

In [74]:
output_dir = os.path.join(current_dir, 'output_data')
os.makedirs(output_dir, exist_ok=True)

In [75]:
output_file = os.path.join(output_dir, 'order_data.csv')
order_data.to_csv(output_file, index=False)

### ノック１０：セルを整理して使いやすくしよう

In [27]:
# ライブラリのインポート
import pandas as pd
import os
import glob

# ファイルの読込
m_store = pd.read_csv('m_store.csv')
m_area = pd.read_csv('m_area.csv')

# オーダーデータの読込
current_dir = os.getcwd()
tbl_order_file = os.path.join(current_dir, 'tbl_order_*.csv')
tbl_order_files = glob.glob(tbl_order_file)
order_all = pd.DataFrame()

for file in tbl_order_files:
    order_data = pd.read_csv(file)
    print(f'{file}:{len(order_data)}')
    order_all = pd.concat([order_all, order_data], ignore_index=True)

# 不要なデータを除外
order_data = order_all.loc[order_all['store_id'] != 999]

# マスタデータの結合
order_data = pd.merge(order_data, m_store, on='store_id', how='left')
order_data = pd.merge(order_data, m_area, on='area_cd', how='left')

# 名称を設定（お渡し方法）
order_data.loc[order_data['takeout_flag'] == 0, 'takeout_name'] = 'デリバリー'
order_data.loc[order_data['takeout_flag'] == 1, 'takeout_name'] = 'お持ち帰り'

# 名称を設定（注文状態）
order_data.loc[order_data['status'] == 0, 'status_name'] = '受付'
order_data.loc[order_data['status'] == 1, 'status_name'] = 'お支払済'
order_data.loc[order_data['status'] == 2, 'status_name'] = 'お渡し済'
order_data.loc[order_data['status'] == 9, 'status_name'] = 'キャンセル'

# ファイルの出力
output_dir = os.path.join(current_dir, 'output_data')
os.makedirs(output_dir, exist_ok=True)
output_file = os.path.join(output_dir, 'order_data.csv')
order_data.to_csv(output_file, index=False)

/root/jupyter_notebook/codes/1章/tbl_order_202004.csv:233260
/root/jupyter_notebook/codes/1章/tbl_order_202005.csv:241139
/root/jupyter_notebook/codes/1章/tbl_order_202006.csv:233301